* {
    margin: 0;
    padding: 0;
    border: 1px solid green;
}
body {
    background: url(GuessTheNumber.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: center; */
}
